@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Montserrat:wght@500&family=Noto+Sans+TC:wght@300&family=Open+Sans:wght@300;400;500;600;700;800&family=Red+Hat+Display&family=Ubuntu:ital@1&display=swap');
*{
  color : #fff;
  font-family: 'Open Sans', sans-serif;
}

body{
  margin: 0;
  padding: 0;
}

.app{
  background-color: #343541;
  display: flex;
}

.centerBox{
  background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height : 100vh;
  width : 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.heading {
  font-size: 100px;
}

.clickButton{
  cursor: pointer;
}

.mainDiv{
  background-color: #292e49;
  height : 100vh;
  width : 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.side-bar{
  background-color: #202123;
  height: 100vh;
  width: 244px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button{
  border: solid 0.5px rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

nav{
  border-top: solid 0.5px rgba(255, 255, 255, 0.5);
  /* padding: 10px; */
  margin: 10px;
  text-align: center;
}

.history{
  padding: 10px;
  margin: 10px;
  height: 100%;
}

.history li{
  list-style-type: none;
  padding: 15px 0;
  cursor: pointer;
}

.main{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.info{
  color: rgba(255, 255, 255, 0.5);
  font-size: 11px;
  padding: 10px;
}

.bottom-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-container{
  position: relative;
  width: 100%;
  max-width: 650px ;
}

input{
  width: 100%;
  background-color: rgba(255, 255, 255, 0.05);
  border: none;
  padding: 12px 15px;
  border-radius: 5px;
  box-shadow: rgba(0,0,0,0.05) 0 54px 55px,
  rgba(0,0,0,0.05) 0 -12px 30px,
  rgba(0,0,0,0.05) 0 4px 6px,
  rgba(0,0,0,0.05) 0 12px 3px,
  rgba(0,0,0,0.05) 0 -3px 5px;
  font-size: 20px;
}

input:focus{
  outline: none;
}

#submit{
  position: absolute;
  bottom: 7px;
  right: -14px;
  cursor: pointer;
  font-size: 25px;
}

#submitDoc{
  position: absolute;
  top : 6px;
  right: -14px;
  cursor: pointer;
  font-size: 25px;
}

.feed{
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  padding-right: 2px;
  box-sizing: content-box;
  /* padding-left: 1px; */
}

.feed li{
  display: flex;
  background-color: #444654;
  width: 100%;
  padding: 20px;
  margin: 20px 0;
}

.feed p{
  color : rgba(255, 255, 255, 0.8);
  font-size: 18px;
  text-align: left;
  padding-right: 54px;
}

.feed p.role {
  min-width: 100px;
  /* padding-left: 20px; */
}

